<app-home (ModeChanges)="this.DISPLAY_MODE=$event">
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>About Us</h2>
        <p>Delta Trade Global is a dynamic startup led by a team of seasoned professionals with over 25 years of
          experience in the finance industry.<br> Our mission is to revolutionize the way individuals and businesses access
          foreign exchange rates by providing a transparent and comprehensive platform.<br> We have developed an innovative
          app that not only offers real-time FX rates but also serves as a one-stop solution for gaining insights
          into global rates.</p>
      </div>
    </div>
  </section>
</app-home>