<app-home (ModeChanges)="this.DISPLAY_MODE=$event">
    <div class="controller">
        <article class="profile" *ngFor="let item of this.apiservice.HOLIDAYS_INDIA;let i=index">
            <div class="profile-image">
                <img src="../../../assets/images/6813.jpg" />
            </div>
            <h2 class="profile-username">{{item?.name}}</h2>
            <small class="profile-user-handle">{{item?.date}}</small>
            <h2 class="profile-username">{{item?.days}}</h2>
        </article>
    </div>
</app-home>