<app-home (ModeChanges)="this.DISPLAY_MODE=$event">
    <div class="parent">
        <div class="card">
            <div class="header"><label for="">FORWARD RATE CALCULATOR</label></div>
            <div class="card-body">
                <div class="marquee" *ngIf="this.netJSApi.FORWARD_CALCULATOR?.MarketStatus!=undefined">
                    <span *ngIf="this.netJSApi.FORWARD_CALCULATOR?.MarketStatus==true">Market hours closed, rate
                        displayed
                        may not be live&nbsp;</span>
                </div>
                <p class="current-date">{{this.CURREENT_DATE}}</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Currency pair</td>
                            <td>
                                <Select #CURRENCY_INR_LIST>
                                    <option [value]="item?.value"
                                        *ngFor="let item of this.netJSApi.CURRENCY_INR_LIST;let i=index">
                                        {{item?.name}}</option>
                                </Select>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td>Start Date</td>
                            <td>End Date</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="date" [min]="this.today" name="" id="" [max]="this.MAX_DATE_TODAY"
                                    (change)="startdatefun(startdate,startdate?.value)" #startdate></td>
                            <td><input type="date" [value]="this.startDate" [min]="netJSApi.lastDate"
                                    [max]="this.netJSApi.lastDate2" name="" id=""
                                    (change)="SelectStartEnddate(CURRENCY_INR_LIST?.value,startdate?.value,enddate.value,enddate)"
                                    #enddate></td>
                            <td><button class="search-cal" [disabled]="this.CHECK_BUTTON_ENABLED"
                                    (click)="SelectStartEnddate2(CURRENCY_INR_LIST?.value,startdate?.value,enddate.value)">Search</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-12 card-parent-2">
                    <table class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Inward</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Spot</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.bid?.spot}}</td>
                            </tr>
                            <tr>
                                <th>Forward Premium</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.bid?.finalValue}}</td>
                            </tr>
                            <tr>
                                <th>outright</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.bid?.outright}}</td>
                            </tr>
                            <tr>
                                <th>Premium</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.bid?.Premium}} %</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Outward</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Spot</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.ask?.spot}}</td>
                            </tr>
                            <tr>
                                <th>Forward Premium</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.ask?.finalValue}}</td>
                            </tr>
                            <tr>
                                <th>outright</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.ask?.outright}}</td>
                            </tr>
                            <tr>
                                <th>Premium</th>
                                <td>{{this.netJSApi.FORWARD_CALCULATOR?.ask?.Premium}} %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-home>