<app-home (ModeChanges)="this.DISPLAY_MODE=$event">
  <custom-mat-stepper (TabEvent)="onTabChanged($event);"
    [addClass]="{'Light':this.DISPLAY_MODE=='Light','black':this.DISPLAY_MODE=='Dark'}">
    <custom-mat-step MATSTEP_LABEL="FX LIVE" errorMessage="Please select Inward Remittance" [NextTrue]="true">
      <custom-mat-accordion [Expanded]="item?.expended" (onChangeEvent)="Collepse($event,i,this.apiservice.LIST_OF_DATA[0]?.quotes)" [addClass]="{'Light':this.DISPLAY_MODE=='Light','black':this.DISPLAY_MODE=='Dark'}"
        *ngFor="let item of this.apiservice.LIST_OF_DATA[0]?.quotes;let i=index">
        <p class="time" *ngIf="(i==0)">{{item?.time }}</p>
        <custom-mat-expansion-panel>
          <div class="row-flex">
            <div class="currecny">
              <img [src]="'../../assets/CountryFlag/'+item?.base_currency+'.png'" [alt]="item?.base_currency" srcset="">
              <p style="display: flex;align-items: center;gap: 3px;font-weight: 100;font-size: 13px;">
                {{item?.base_currency}}<span class="left-border"></span>{{item?.quote_currency}}</p>
            </div>
            <label for="" class="lable-Request-Time">
              <table>
                <thead>
                  <tr>
                    <th style="font-weight: 100;" class="width-tr">Sell</th>
                    <th style="font-weight: 100;" class="width-tr">Buy</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-controller">
                    <td [ngClass]="item?.bidclassName" class="width-tr">{{this.setFloatFixed(item?.bid)}}</td>
                    <td [ngClass]="item?.askclassName" class="width-tr">{{this.setFloatFixed(item?.ask)}}</td>
                  </tr>
                </tbody>
              </table>
            </label>
          </div>
        </custom-mat-expansion-panel>
        <custom-mat-panel-description>
          <div class="controller-panel-description">
            <!-- <div class="left-arrow" (click)="item.Next=false"><i class="fa fa-chevron-left"></i></div> -->
            <div class="col-12 card-parent" *ngIf="item?.Next==false">
              <div class="col-12 card">
                <label for=""><span class="position-absolute-left">Open</span> <span
                    class="position-absolute-right">{{this.setFloatFixed(item?.open)}}</span></label>
                <label for=""><span class="position-absolute-left">Close</span> <span
                    class="position-absolute-right">{{this.setFloatFixed(item?.close)}}</span></label>
              </div>
              <div class="col-12 card">
                <label for=""><span class="position-absolute-left">High</span> <span
                    class="position-absolute-right">{{this.setFloatFixed(item?.high)}}</span></label>
                <label for=""><span class="position-absolute-left">Low</span> <span
                    class="position-absolute-right">{{this.setFloatFixed(item?.low)}}</span></label>
              </div>
            </div>
            <div class="col-12 card-parent-2" *ngIf="item?.Next==true">
              <table class="table" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Inward</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Spot</th>
                    <td>{{this.setFloatFixed(item?.bid)}}</td>
                  </tr>
                  <tr>
                    <th>Cash spot</th>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th>Margin</th>
                    <td>{{this.setFloatFixed(item?.InwardMargin)}}</td>
                  </tr>
                  <tr>
                    <th>Net Rate</th>
                    <td>{{this.NetInwardRate(this.setFloatFixed(item?.bid),0,this.setFloatFixed(item?.InwardMargin))}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Outward</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Spot</th>
                    <td>{{this.setFloatFixed(item?.ask)}}</td>
                  </tr>
                  <tr>
                    <th>Cash spot</th>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th>Margin</th>
                    <td>{{this.setFloatFixed(item?.OuwardMargin)}}</td>
                  </tr>
                  <tr>
                    <th>Net Rate</th>
                    <td>{{this.NetOutwardRate(this.setFloatFixed(item?.ask),0,this.setFloatFixed(item?.OuwardMargin))}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="right-arrow" *ngIf="item.Next!=true" (click)="item.Next=true"><i class="fa fa-angle-double-down"
                aria-hidden="true"></i>
            </div>
            <div class="right-arrow" *ngIf="item.Next==true" (click)="item.Next=false"><i class="fa fa-angle-double-up"
                aria-hidden="true"></i>
            </div>
          </div>
        </custom-mat-panel-description>
      </custom-mat-accordion>
    </custom-mat-step>
    <custom-mat-step MATSTEP_LABEL="FORWARD" errorMessage="Please select Inward Remittance" [NextTrue]="true">
      <div class="forward">
        <custom-mat-accordion [Expanded]="item?.expended" (onChangeEvent)="Collepse($event,i,this.apiservice.FORWARD_BID_ASK_DATA)" [addClass]="{'Light':this.DISPLAY_MODE=='Light','black':this.DISPLAY_MODE=='Dark'}"
        *ngFor="let item of this.apiservice.FORWARD_BID_ASK_DATA;let i=index">
        <p class="time" *ngIf="(i==0)">{{item?.time}}</p>
        <custom-mat-expansion-panel>
          <div class="row-flex">
            <div class="currecny">
              <img [src]="'../../assets/CountryFlag/'+item?.base_currency+'.png'" [alt]="item?.base_currency" srcset="">
              <p style="display: flex;align-items: center;gap: 3px;font-weight: 100;font-size: 13px;">
                {{item?.base_currency}}<span class="left-border"></span>{{item?.quote_currency}}</p>
            </div>
            <label for="" class="lable-Request-Time">
              <table>
                <thead>
                  <tr>
                    <th style="font-weight: 100;height: 20px;" class="width-tr"></th>
                    <th style="font-weight: 100;height: 20px;" class="width-tr"></th>
                  </tr>
                </thead>
              </table>
            </label>
          </div>
        </custom-mat-expansion-panel>
        <custom-mat-panel-description>
          <div class="controller-panel-description">
            <div class="col-12 card-parent-3">
              <div class="row">
                <p class="Bid-class">BID</p>
                <table class="table">
                  <tbody>
                    <tr>
                      <th>1W</th>
                      <td>{{(item?.BID?.QUOTE_BID_1W)}}</td>
                    </tr>
                    <tr>
                      <th>2W</th>
                      <td>{{(item?.BID?.QUOTE_BID_2W)}}</td>
                    </tr>
                    <tr>
                      <th>3W</th>
                      <td>{{(item?.BID?.QUOTE_BID_3W)}}</td>
                    </tr>
                    <tr>
                      <th>1M</th>
                      <td>{{(item?.BID?.QUOTE_BID_1M)}}</td>
                    </tr>
                    <tr>
                      <th>2M</th>
                      <td>{{(item?.BID?.QUOTE_BID_2M)}}</td>
                    </tr>
                    <tr>
                      <th>3M</th>
                      <td>{{(item?.BID?.QUOTE_BID_3M)}}</td>
                    </tr>
                    <tr>
                      <th>4M</th>
                      <td>{{(item?.BID?.QUOTE_BID_4M)}}</td>
                    </tr>
                    <tr>
                      <th>5M</th>
                      <td>{{(item?.BID?.QUOTE_BID_5M)}}</td>
                    </tr>
                    <tr>
                      <th>6M</th>
                      <td>{{(item?.BID?.QUOTE_BID_6M)}}</td>
                    </tr>
                    <tr>
                      <th>7M</th>
                      <td>{{(item?.BID?.QUOTE_BID_7M)}}</td>
                    </tr>
                    <tr>
                      <th>8M</th>
                      <td>{{(item?.BID?.QUOTE_BID_8M)}}</td>
                    </tr>
                    <tr>
                      <th>9M</th>
                      <td>{{(item?.BID?.QUOTE_BID_9M)}}</td>
                    </tr>
                    <tr>
                      <th>10M</th>
                      <td>{{(item?.BID?.QUOTE_BID_10M)}}</td>
                    </tr>
                    <tr>
                      <th>11M</th>
                      <td>{{(item?.BID?.QUOTE_BID_11M)}}</td>
                    </tr>
                    <tr>
                      <th>1Y</th>
                      <td>{{(item?.BID?.QUOTE_BID_1Y)}}</td>
                    </tr>
                    <!-- <tr>
                      <th>BID 2Y</th>
                      <td>{{(item?.BID?.QUOTE_BID_2Y)}}</td>
                    </tr>
                    <tr>
                      <th>BID 3Y</th>
                      <td>{{(item?.BID?.QUOTE_BID_3Y)}}</td>
                    </tr>
                    <tr>
                      <th>BID 4Y</th>
                      <td>{{(item?.BID?.QUOTE_BID_4Y)}}</td>
                    </tr>
                    <tr>
                      <th>BID 5Y</th>
                      <td>{{(item?.BID?.QUOTE_BID_5Y)}}</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
             
              <div class="row">
                <p class="Ask-class">ASK</p>
                <table class="table">
                  <!-- <thead>
                    <tr style="text-align: center;">
                      <th>ASK</th>
                    </tr>
                  </thead> -->
                  <tbody>
                    <!-- <tr>
                      <th>ASK ON</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_ON)}}</td>
                    </tr>
                    <tr>
                      <th>ASK SN</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_SN)}}</td>
                    </tr>
                    <tr>
                      <th>ASK TN</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_TN)}}</td>
                    </tr> -->
                    <tr>
                      <th>1W</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_1W)}}</td>
                    </tr>
                    <tr>
                      <th>2W</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_2W)}}</td>
                    </tr>
                    <tr>
                      <th>3W</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_3W)}}</td>
                    </tr>
                    <tr>
                      <th>1M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_1M)}}</td>
                    </tr>
                    <tr>
                      <th>2M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_2M)}}</td>
                    </tr>
                    <tr>
                      <th>3M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_3M)}}</td>
                    </tr>
                    <tr>
                      <th>4M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_4M)}}</td>
                    </tr>
                    <tr>
                      <th>5M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_5M)}}</td>
                    </tr>
                    <tr>
                      <th>6M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_6M)}}</td>
                    </tr>
                    <tr>
                      <th>7M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_7M)}}</td>
                    </tr>
                    <tr>
                      <th>8M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_8M)}}</td>
                    </tr>
                    <tr>
                      <th>9M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_9M)}}</td>
                    </tr>
                    <tr>
                      <th>10M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_10M)}}</td>
                    </tr>
                    <tr>
                      <th>11M</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_11M)}}</td>
                    </tr>
                    <tr>
                      <th>1Y</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_1Y)}}</td>
                    </tr>
                    <!-- <tr>
                      <th>ASK 2Y</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_2Y)}}</td>
                    </tr>
                    <tr>
                      <th>ASK 3Y</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_3Y)}}</td>
                    </tr>
                    <tr>
                      <th>ASK 4Y</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_4Y)}}</td>
                    </tr>
                    <tr>
                      <th>ASK 5Y</th>
                      <td>{{(item?.ASK?.QUOTE_ASK_5Y)}}</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
             
            </div>
             <!-- <div class="right-arrow" *ngIf="item.Next!=true" (click)="item.Next=true"><i class="fa fa-angle-double-down"
                aria-hidden="true"></i>
            </div> -->
            <div class="right-arrow"><i class="fa fa-angle-double-up"
                aria-hidden="true"></i>
            </div> 
          </div>
        </custom-mat-panel-description>
      </custom-mat-accordion>
      </div>
     
    </custom-mat-step>
    <custom-mat-step MATSTEP_LABEL="NEWS" errorMessage="Please select Inward Remittance" [NextTrue]="true">
      <div class="card-new-market" *ngFor="let item of this.apiservice.MARKET_NEWS_DATA">
        <h3 for="" class="market-news-title">{{item?.title}}</h3>
        <div class="description-card">
          <div class="description-img">
            <img [src]="item?.image_url">
            <p><span class="bold-text">Description : </span>{{item?.description}}</p>
          </div>
          <p class="snippet"><span class="bold-text">Snippet : </span>{{item?.snippet}}</p>
        </div>
      </div>
    </custom-mat-step>
  </custom-mat-stepper>
</app-home>