<div class="controller" *ngIf="this.PAGE_VISIBLE==true">
    <!-- <button class='open-walkthrough'>Start</button> -->
    <div class='walkthrough show reveal'>
        <div class='walkthrough-pagination'>
            <a class='dot active'></a>
            <a class='dot'></a>
            <a class='dot'></a>
            <a class='dot'></a>
            <a class='dot'></a>
            <a class='dot'></a>
            <a class='dot'></a>
            <a class='dot'></a>
        </div>
        <div class='walkthrough-body'>
            <ul class='screens animate'>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_1.png'>
                    <!-- <div class="indicator-image-txt">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Hit the spot every time right with our live screen</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_2.png'>
                    <!-- <div class="indicator-image-txt" style="top: 140px;
                right: -10px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Know the trends of the currency pair you deal by using high/low</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_3.png'>
                    <!-- <div class="indicator-image-txt" style="top: 185px;
                right: -10px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Prefix the margins and know your net rates on your screen</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_4.png'>
                    <!-- <div class="indicator-image-txt" style="top: 215px;
                right: -10px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Forward rates at your fingertips</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_5.png'>
                    <!-- <div class="indicator-image-txt" style="top: 170px;
                right: -11px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Set all your triggers and let the system do the track for you</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_6.png'>
                    <!-- <div class="indicator-image-txt" style="top: 150px;
                right: -11px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Want to revisit past rates for your audit purpose use our historical charts</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_7.png'>
                    <!-- <div class="indicator-image-txt" style="top: 175px;
                right: -11px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Any broken date forward rates just a click away</p>
                    </div> -->
                </li>
                <li class='screen active'>
                    <img class='logo' src='../../../assets/images/Onboarding/Pic_8.png'>
                    <!-- <div class="indicator-image-txt" style="top: 60px;
                right: -11px;">
                        <img class='logo-2'
                            src='../../../assets/images/vecteezy_hand-drawn-curved-arrow-shape-arrow-line_21998863.png'>
                        <p>Need structured trade finance solution EDPMS/IDPMS/<br/>Outsourcing FEMA
                            transactions <br/> reach out to us</p>
                    </div> -->
                </li>
            </ul>
            <button class='prev-screen'>
                <i class='icon-angle-left'></i>
            </button>
            <button class='next-screen'>
                <i class='icon-angle-right'></i>
            </button>
        </div>
        <div class='walkthrough-footer'>
            <button class='button prev-screen'>Back</button>
            <button class='button next-screen'>Next</button>
            <button class='button finish close' disabled='true' (click)="navigateUrlHome('/Login')">Finish</button>
        </div>
    </div>
</div>