<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Role Login or Sign In</title>
</head>

<body>
        <div class="content">
                <div class="text">
                        <logo-animation></logo-animation>
                        <p style="font-size: 20px;">Login</p>
                </div>
                <form [formGroup]="userForm">
                        <div class="field">
                                <input type="text" EmailValidator formControlName="email" required>
                                <label>Email</label>
                        </div>
                        <div class="field">
                                <input type="password" formControlName="MPIN" required>
                                <label>MPIN</label>
                        </div>
                        <div class="forgot-pass">
                                <a routerLink="/ResetPassword">Forgot Password?</a>
                        </div>
                        <p class="text-muted mb-4 bottom-text ml-2" style="font-size: 10px;color: black;">
                                By continuing, you agree to DeltaTradeGlobal
                                <a class="hover-a-tag" (click)="OpenPopup(TermsofService_PANEL)">Terms of Service</a> we
                                will
                                manage
                                information as described in our
                                <a>Privacy Policy Agreement</a>
                        </p>
                        <button (click)="onFormSubmit()">Sign in</button>
                        <div class="sign-up">
                                Not a member?
                                <a routerLink="/Registration">signup now</a>
                        </div>

                </form>
        </div>
</body>

</html>

<custom-model [customstyle]="{'max-width':'400px !important','font-size':'12px'}" class="p-2"
  id="TermsofService" ModalTitleStyle="font-size: 15px;
    font-weight: bold;" name="Terms &amp; Conditions" #TermsofService_PANEL>
        <div class="col-12 mt-2 mb-2">
                <terms-condition-template></terms-condition-template>
                <button type="button" class="btn btn-primary" (click)="TermsofService_PANEL?.displayHidden">Ok</button>
        </div>
</custom-model>