.p1 {
    background: #ffbe6a;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.p2 {
    background: #248780;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.p3 {
    background: #6a94ff;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.p4 {
    background: #31e36f;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.p5 {
    background: #5b4120;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.p6 {
    background: #204364;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.p7 {
    background: #744b16;
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}