<app-home>
    <p class="p1" (click)="clickService('EDPMS/IDPMS Solutions')">EDPMS/IDPMS Solutions</p>
    <p class="p2" (click)="clickService('Buyers Credit Quote')">Buyers Credit Quote</p>
    <p class="p3" (click)="this.router.navigate(['/BenchMarkRates'])">BenchMark Rates</p>
    <p class="p4" (click)="clickService('Trade ERP')">Trade ERP</p>
    <p class="p5" (click)="this.router.navigate(['/RbiRef'])">RBI Ref Rate</p>
    <p class="p6" (click)="clickService('FDI/ODI/ECB Support')">FDI/ODI/ECB Support</p>
    <p class="p7" (click)="clickService('Business Loan')">Business Loan</p>
</app-home>